@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  height: 43px;
  width: 100%;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  text-align: center;
  font-size: 2em;
  z-index: 10;
  top: 0;
}

header .header-content {
  width: 1012px;
  margin: 5px auto;
}

header .header-content .search {
  float: left;
  border: none;
}

header .header-content .search input {
  position: absolute;
  height: 21px;
  width: 415px;
  margin: 5px;
  margin-top: 0;
  border: 1px solid #3b5998;
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
}

header .header-content div {
  padding: 0 5px;
  margin: 5px 0;
  float: right;
  border-right: 0.5px solid #3b5c9f;
}

header .header-content .dropdown-div {
  border-right: none;
}

header .header-content div:hover {
  cursor: pointer;
}

header .header-content div p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin: 5px;
}

header .header-content div img {
  float: left;
  width: 25px;
  height: 25px;
}

header .header-content div button {
  position: absolute;
  border: none;
  width: 46px;
  height: 23px;
  margin: 1px;
  margin-left: 381px;
  border-right: 1px solid #3b5998;
  border-radius: 3px;
  outline: none;
}

header .header-content div .search-button {
  background: url(icons/header-icons.png) no-repeat 21px -618px;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0 16px;
  border-radius: 3px;
}

header .header-content div div {
  border: none;
  margin: 0;
}

nav {
  position: fixed;
  width: 180px;
  height: 100%;
}

nav div {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 400;
}

nav div h4 {
  color: gray;
  margin: 3px 0;
}

nav .create a {
  color: #365899;
}

nav .create a:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav div ul {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

nav div li {
  height: 17px;
  padding: 3px 5px 8px 5px;
  border: 0.5px solid transparent;
}

nav div li p {
  margin: 0 27px;
  margin-top: 2px;
}

nav div li:hover {
  height: 17px;
  cursor: pointer;
  background-color: #f6f7f9;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
}

nav div .active {
  font-weight: bold;
  background-color: #f6f7f9;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
}

.content {
  width: 1012px !important;
  margin: 55px auto;
}

.main-content {
  height: 100%;
  width: 100%;
  margin-left: 192px;
  margin-right: 0;
}

.main-content .stories {
  margin-left: 12px;
  float: left;
  width: 284px;
  height: auto;
  padding: 12px;
  background-color: #fff;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
}

.main-content .stories .title {
  padding-bottom: 12px;
  height: 16px;
}

.main-content .stories .title p {
  margin: 0;
  color: #4b4f56;
  font-size: 14px;
  font-weight: bold;
}

.main-content .stories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-content .stories .story {
  height: 56px;
  margin-bottom: 8px;
}

.main-content .stories .story img {
  height: 48px;
  width: 48px;
  float: left;
  border: 2px solid #4080ff;
  border-radius: 50%;
}

.main-content .stories .story .story-info {
  margin-left: 65px;
  padding-top: 5px;
}

.main-content .stories .story p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #365899;
  cursor: pointer;
}

.main-content .stories .story span {
  font-size: 13px;
  color: #90949c;
  cursor: pointer;
}

.timeline {
  width: 500px;
  float: left;
}

.timeline .new-post {
  height: 155px;
  background-color: #fff;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
  margin-bottom: 12px;
}

.timeline .new-post .post-type {
  width: 498px;
  height: 16px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 0;
}

.timeline .new-post .post-type .type {
  float: left;
  margin: 0 4px;
  padding: 0 6px 0 4px;
  height: 16px;
  border-right: 1px solid #ced0d4;
  color: #365899;
  cursor: pointer;
}

.timeline .new-post .post-type .active {
  color: #4b4f56;
}

.timeline .new-post .post-type .type:last-of-type {
  border: none;
}

.timeline .new-post .post-type .type p {
  margin: 0;
  margin-left: 5px;
  float: left;
  font-size: 13px;
  font-weight: bold;
}

.timeline .new-post .add .add-div {
  float: left;
  margin: 0 4px;
  padding: 8px 6px 8px 4px;
  height: 16px;
  background-color: #f6f7f9;
  border-radius: 18px;
  cursor: pointer;
}

.timeline .new-post .add .add-div p {
  color: #4b4f56;
  margin: 0;
  margin-left: 5px;
  float: left;
  font-size: 13px;
  font-weight: bold;
}

.timeline .new-post .post img {
  width: 40px;
  height: 40px;
  margin: 12px 0 0 12px;
  float: left;
  cursor: pointer;
}

.timeline .new-post .post textarea {
  border: none;
  resize: none;
  width: 380px;
  height: 35px;
  float: left;
  padding: 23px 48px 13px 12px;
  outline: none;
}

.timeline .new-post .add {
  height: 32px;
  margin: 0 12px;
  margin-top: 71px;
  padding: 8px 0;
  border-top: 1px solid #e9ebee;
}

.timeline .posts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline .posts ul li {
  height: auto;
  background-color: #fff;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 12px 12px 5px 12px;
}

.timeline .posts ul li .post-header {
  height: 43px;
  margin-bottom: 5px;
}

.timeline .posts ul li .post-header img {
  width: 40px;
  height: 40px;
  float: left;
  cursor: pointer;
  margin-right: 5px;
}

.timeline .posts ul li .post-header p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #365899;
  cursor: pointer;
}

.timeline .posts ul li .post-header span {
  font-size: 12px;
  color: #616770;
  cursor: pointer;
}

.timeline .posts ul li .post-header span:hover {
  text-decoration: underline;
}

.timeline .posts ul li .post-content p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.timeline .posts ul li .post-content img {
  width: 476px;
  cursor: pointer;
  margin-bottom: 5px;
}

.timeline .posts ul li .post-footer {
  font-size: 13px;
  color: #616770;
}

.timeline .posts ul li .post-footer p {
  margin: 0;
}

.timeline .posts ul li .post-footer .post-info {
  height: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e9ebee;
}

.timeline .posts ul li .post-footer .post-info .likes {
  float: left;
}

.timeline .posts ul li .post-footer .post-info .likes p {
  float: left;
  margin-left: 2px;
}

.timeline .posts ul li .post-footer .post-info .comments-shares {
  float: right;
}

.timeline .posts ul li .post-footer .post-actions {
  height: 32px;
  padding: 0 4px;
  margin-top: 5px;
}

.timeline .posts ul li .post-footer .post-actions div {
  float: left;
  width: 155px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.timeline .posts ul li .post-footer .post-actions div:hover {
  background-color: #eaeaea;
}

.timeline .posts ul li .post-footer .post-actions div div {
  width: 18px;
  height: 18px;
  margin: 7px -30px 7px 25px;
}

.timeline .posts ul li .post-footer .post-actions p {
  height: auto;
  padding: 9px 0;
}

.news-feed {
  background: url("icons/logos.png") no-repeat 0 -1111px;
  width: 20px;
  height: 20px;
  margin: 0;
  float: left;
}

.messenger {
  background: url("icons/logos.png") no-repeat 0 -796px;
  width: 20px;
  height: 20px;
  margin: 0;
  float: left;
}

.shortcut {
  background: url("icons/logos.png") no-repeat 0 -985px;
  width: 20px;
  height: 20px;
  margin: 0;
  float: left;
}

.explore {
  background: url("icons/logos.png") no-repeat 0 -964px;
  width: 20px;
  height: 20px;
  margin: 0;
  float: left;
}

.friends {
  background: url("icons/header-icons.png") no-repeat 0 -279px;
  width: 18px;
  height: 23px;
  margin: 0;
  float: left;
}

.messages {
  background: url("icons/messages.png") no-repeat -3px -249px;
  width: 20px;
  height: 20px;
  margin: 0;
  float: left;
}

.notifications {
  background: url("icons/header-icons.png") no-repeat -3px -328px;
  width: 19px;
  height: 19px;
  margin: 0;
  float: left;
}

.dropdown {
  background: url("icons/messages.png") no-repeat -3px -614px;
  width: 10px;
  height: 6px;
  margin: 7px !important;
  float: left;
}

.compose {
  background: url("icons/new-post-icons.png") no-repeat -2px -340px;
  width: 12px;
  height: 12px;
  margin: 0;
  float: left;
  margin-top: 2px;
}

.album {
  background: url("icons/new-post-icons.png") no-repeat -2px -357px;
  width: 12px;
  height: 12px;
  margin: 0;
  float: left;
  margin-top: 2px;
}

.live {
  background: url("icons/new-post-icons.png") no-repeat -1px -307px;
  width: 14px;
  height: 10px;
  margin: 0;
  margin-top: 2px;
  float: left;
}

.picture {
  background: url("icons/logos.png") no-repeat -2px -693px;
  width: 16px;
  height: 16px;
  float: left;
}

.activity {
  background: url("icons/logos.png") no-repeat -1px -587px;
  width: 18px;
  height: 18px;
  float: left;
}

.like-icon {
  background: url("icons/like-logos.png") no-repeat 0 -326px;
  width: 18px;
  height: 18px;
  float: left;
}

.like {
  background: url("icons/like-logos.png") no-repeat 0 -193px;
  width: 18px;
  height: 18px;
  float: left;
}

.comment {
  background: url("icons/like-logos.png") no-repeat 0 -156px;
  width: 18px;
  height: 18px;
  float: left;
}

.share {
  background: url("icons/like-logos.png") no-repeat -19px -270px;
  width: 18px;
  height: 18px;
  float: left;
}

.profile img {
  float: left;
  width: 20px;
  height: 20px;
}