@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  height: 43px;
  width: 100%;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  text-align: center;
  font-size: 2em;
  z-index: 10;
  top: 0;
}

header .header-content {
  width: 1012px;
  margin: 0 auto;
}

header .header-content .search {
  float: left;
  border: none;
}

header .header-content .search input {
  height: 30px;
  width: 250px;
}

header .header-content div {
  float: right;
  height: 30px;
  border-right: 0.5px solid #dddfe2;
}

.content {
  width: 1012px !important;
  margin: 55px auto;
}

nav {
  position: fixed;
  width: 180px;
  height: 100%;
}

nav div {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 400;
}

nav div label {
  color: gray;
}

nav div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav div li {
  height: 17px;
  padding: 5px;
  border: 0.5px solid transparent;
}

nav div li:hover {
  height: 17px;
  cursor: pointer;
  background-color: #f6f7f9;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
}

.main-content {
  height: 100%;
  width: 100%;
  margin-left: 192px;
  margin-right: 0;
}

.main-content .pages {
  margin-left: 12px;
  float: left;
  width: 308px;
  height: 400px;
  background-color: #fff;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
}

.timeline {
  width: 500px;
  float: left;
}

.timeline .new-post {
  height: 155px;
  background-color: #fff;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
  margin-bottom: 12px;
}

.timeline .posts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline .posts ul li {
  height: 155px;
  background-color: #fff;
  border: 0.5px solid #dddfe2;
  border-radius: 5px;
  margin-bottom: 12px;
}
